/* This file is for your main application css. */
@import "../node_modules/hiq/dist/hiq.min.css";
@import "./variables.css";

$large-max-width: 1060px;

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

// Large View
html,
body {
  height: 100%;
}
main {
  max-width: $large-max-width;
}
.nav {
  margin-bottom: 3rem;
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 0.5rem;
  font-weight: var(--hiq-font-weight-semibold);
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 3rem;
  .select-filter {
    max-width: 25%;
  }
}
.main-image {
  margin: auto;
  margin-bottom: 2rem;
  max-width: 20rem;
}
.side-button {
  float: right;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  border-radius: var(--hiq-border-radius);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: unset;
}
